* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
  list-style: none;
  text-decoration: none;
  color: white;
}

body {
  background-color: #1f1f21;
  color: #fff;
}

header {
  background-color: #191919;
  background: transparent;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 32px 15%;
  background: transparent;
  transition: 0.45s;
}

.header h1 {
  display: inline block;
}

.logo {
  font-size: 41px;
}

.navbar {
  display: flex;
  justify-content: right;
  background: transparent;
}

.navbar a {
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}

.navbar a:hover {
  transition: 0.4s;
  color: #f9004d;
}
span {
  color: #f9004d;
}

section {
  padding: 0 15%;
  background-size: cover;
  background-position: center;
}

.content {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  background-image: url(Images/4B6D5BC7-DB4C-4863-9992-44CB0777E5DC_1_105_c.jpeg);
  background-image: cover;
}
.content-text span {
  color: #f9004d;
}

h1 {
  color: white;
  margin: 20px 0 20px;
  font-size: 75px;
}

h3 {
  color: white;
  font-size: 25;
  margin-bottom: 50px;
}

h4 {
  color: #fcfc;
  letter-spacing: 2px;
  font-size: 20px;
}
.about-me img {
  flex-wrap: wrap;
}

.about-text {
  width: 550px;
  margin-left: 250px;
  align-items: flex-end;
  border: 2px solid blue;
}

.about {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid red;
}

.about-text h2 {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.about-text p {
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

button {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}

button:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}

.project {
  background: #101010;
  width: 100%;
  padding: 100px 0px;
}

.title h2 {
  color: white;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  min-height: 400px;
}

.card-1 {
  height: 365px;
  width: 100%;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  overflow: hidden;
  text-align: center;
}

.card {
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.card:hover {
  background-color: #858585;
  cursor: pointer;
}

.card-1:hover {
  background-color: #858585;
  cursor: pointer;
}
.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #f9004d;
}

h5 {
  color: white;
  font-size: 23px;
  margin-bottom: 15px;
}

.pra p {
  color: #fcfc;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}

.contact-me {
  width: 100%;
  height: 290px;
  background: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contact-me p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}

.button-two {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}

.button-two:hover {
  cursor: pointer;
  background-color: #858585;
}
