* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
  list-style: none;
  text-decoration: none;
  color: white;
}

html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

body {
  background-color: #1f1f21;
  color: #fff;
}

header {
  background-color: #191919;
  background: transparent;
  max-width: 100%;
  z-index: 1000;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 32px;
  background: transparent;
  transition: 0.45s;
}

.header h1 {
  display: inline-block;
}

.logo {
  font-size: 41px;
}

.navbar {
  display: flex;
  justify-content: right;
  background: transparent;
}

.navbar a {
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}

.navbar a:hover {
  transition: 0.4s;
  color: #f9004d;
}
span {
  color: #f9004d;
}

section {
  background-size: cover;
  background-position: center;
}

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  background-image: url(Images/4B6D5BC7-DB4C-4863-9992-44CB0777E5DC_1_105_c.jpeg);
}

.content background-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.content-text {
  margin-left: 40px;
}

.content-text span {
  color: #f9004d;
}

h1 {
  color: white;
  margin: 20px 0 20px;
  font-size: 75px;
  margin-bottom: 0px;
}

h3 {
  color: white;
  font-size: 25;
  margin-top: 10px;
  align-content: center;
}

h4 {
  color: #fcfc;
  letter-spacing: 2px;
  font-size: 20px;
  margin-top: 0px;
}

.main img {
  object-fit: contain;
  margin-right: 100%;
  height: auto;
  max-width: 430px;
}
.about {
  width: 50%;
  background: transparent;
  align-self: center;
  margin-top: 40px;
}

.about-text {
  max-width: 550px;
}

.main {
  max-width: 100%;
}

.about-text h2 {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.about-text p {
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #101010;
  width: 100%;
}

.title h2 {
  color: #fcfc;
  font-size: 75px;
  max-width: 100%;
  margin: 30px auto;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  max-width: 100%;
}

.card {
  height: 365px;
  width: 350px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  text-align: center;
}

.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #f9004d;
}

h5 {
  color: #f9004d;
  font-size: 23px;
  margin-bottom: 15px;
}

.pra p {
  color: #fcfc;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}

.card:hover {
  background-color: gray;
  cursor: pointer;
}

.contact-me {
  background-color: #191919;
  background: transparent;
  max-width: 100%;
  z-index: 1000;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 32px;
  background: transparent;
  transition: 0.45s;
}
.contact-me h1 {
  display: inline-block;
}
.contact.details {
  display: flex;
  justify-content: right;
  background: transparent;
}

.contact.details a {
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}

footer {
  background-color: #191919;
  background: transparent;
  max-width: 100%;
  z-index: 1000;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 32px;
  background: transparent;
  transition: 0.45s;
}

.footer h1 {
  display: inline-block;
}

.footer-bar {
  display: flex;
  justify-content: right;
  background: transparent;
}

.footer-bar a {
  color: #fcfc;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}

.footer-bar a:hover {
  transition: 0.4s;
  color: #f9004d;
}
